
opencv-python
pandas
scikit-image
ImageHash
Pillow
torchvision
scikit-learn
gunicorn
flask  # Update to the latest version of Flask you’re using
numpy  # Ensure NumPy version compatibility
torch # Or the version you're using for PyTorch

